.searchPage__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}
.searchPage__header {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 100;
  background-color: white;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}
.searchPage__options {
  display: flex;
  align-items: center;
  color: gray;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
  display: flex;
}
